/***
Added a consistent design throughout the entire program
@since 4/29
@author Carlos Berio
 */

.root{
    -fx-background-color: linear-gradient(
            from 0% 0% to 100% 100%,
            #00ffcc 0%,
            #ccffff 50%,
            #3399ff 100%
    );
}

#leftRect{
    -fx-fill: linear-gradient(
            from 0% 0% to 100% 100%,
            #00ffcc 0%,
            #ccffff 50%,
            #3399ff 100%
    );
}

.button{
    -fx-background-color: black;
    -fx-text-fill: white;
}
.button:hover {
    -fx-font-family: "Berlin Sans FB";
    -fx-background-color: #ec63d7;
}