.label {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 16px;
}

#welcomeText {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 45px;
}

.text-field {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 16px;
}