/***
Added a consistent design throughout the entire program
@since 4/29
@author Carlos Berio
 */

.label {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 16px;
}

#registerText {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 45px;
}

.text-field {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 16px;
}

#regPane{
    -fx-fill: linear-gradient(to bottom, black, #ff99cc);
}

.button{
    -fx-background-color: black;
    -fx-text-fill: white;
}
.button:hover {
    -fx-font-family: "Berlin Sans FB";
    -fx-background-color: white;
    -fx-text-fill: black;
}